
body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e6da7d;
}
.mainWrapperClass{
    box-shadow: 0 0 20px 0 #0505058c;
    width: 75%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    height: 64.5%;
    width: 100%;
    border: none;
}

.parentContainer{
    width: 100%;
    height: 95dvh;
    display: flex;
    align-items: stretch;
    background-color:white;
    overflow: hidden;
    position: relative;
}
#buttons-Container{
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
#productDetails{
    padding: 1rem;
}
.product-name{
    font-size: larger;

}

.CategoryDivForMaterial .selectedBorder{
    border: solid 2px yellow;
}

.selectedBorderSubClass{
    border: solid 2px yellow !important;
}

.optionsbutton:hover{
    cursor: pointer;
    border: solid 2px;
    border-color: black;
    transition-duration: 150;
}
.optionsbutton{
    position: relative;
    padding: 0px;
    border: 2px solid transparent;
    margin: 0.25rem;
    font-weight: 600;
    display: flex;
    width: 30%;
}
.optionsbuttonSubCats{
    position: relative;
    padding: 0px;
    border: 2px solid transparent;
    margin: 0.25rem;
    font-weight: 600;
    display: flex;
}


.optionsbuttonModel{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.optionsbuttonModelText{

}
.CategoryDivForMaterial{
    border: solid transparent 1px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.CategoryDivForModels{
    display: flex;
}

.bottomSection{
    height: 25%;
    overflow-y: scroll;
}
.bottomSection::-webkit-scrollbar{
    width: 10px;
}


.bottomSection::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
    height: 3px;
}

.bottomSection::-webkit-scrollbar-track {
    width: 5px;
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle (thumb) */
.bottomSection::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
.bottomSection::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
}
  



#bottom_material_selection_pannel{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
}


.buttonText{
    position: absolute;
    z-index:1;
    font-size: 0.65rem;
    color: white;
    left: 0.25rem;
    bottom: 0.25rem;
}
.buttonIconImage{
    width: 100%;
    aspect-ratio: 4 / 3;
}
.buttonIconImageSubCats{
    height: 80px;
    aspect-ratio: 1;
}

.leftSection{
    width: 50%;
}

.rightSection{
    width: 50%;
    background-color: #f8f8f8;
}
.topPsudoModelsClass{
    display: flex;
    align-items: center;
}

.placerImages{
    width: 100%;
}


.optionsbuttonModel::before{
    content: "";
    margin: 0 0.5rem;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 4px;
    background-color: lightgray;
}
.readOnlyCheckbox{
    font-weight: bold;
}
.readOnlyCheckbox::before{
    background-color: gray;
}



#modelsButtonContainerDiv{
    height: 10%;
    display: flex;
    justify-content: center;
    padding: 0 0 1rem 0;
}
.modelsButton{
    margin: 4px;
    border: 1px solid;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
}
.modelsButtonImage{
    height: 100%;
    aspect-ratio: 1.2;

}
.selectedModelClass{
    border: solid 2px yellow !important;
}


.ikarusDeltaLogoParent{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.ikarusDeltaLogo{
    height: 30px;
    opacity: 30%;
    transition-duration: 150ms;
}
.ikarusDeltaLogo:hover{
    opacity: 100%;
    cursor: pointer;
}